
body{
    background-color: var(--color7);
    font-size: 10px;
}


/*ABOUT INFO*/

.acerca{
    width: 100%;
    height: 55em;
}
.seccion{
    width: 90em;
    height: 45em;
    margin: auto;
    margin-top: 6em;
}
.foto{
    width: 40em;
    float: left;
    margin-left: 1em;
   
}
.infor {
    list-style: none;
    margin-left: 50%;
    line-height: 4em;
    font-size: 2em;
    font-family: 'Quicksand', sans-serif;
}
