*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    
}

:root{
    --color1: #fff;
    --color2: black;
    --color3: rgb(108, 108, 226);
    --color4: #727880;
    --color5: #5645b8;
}

body{
    font-size: 62.5%;
}

.fondo{
    background-image: url(../img/fondo2.jpeg);
    width: 100%;
    height: 40rem;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
}
    
.frase{
    color: var(--color1);
    font-size: 2rem;
    margin-top: 11rem;
    text-align: right;
    padding-right: 3rem;
}
    
.autor{
    color: var(--color1);
    font-size: 1.3rem;
    text-align: right;
    padding-right: 3rem;
}
    
.barrainicio{
    width: 60rem;
    height: 4rem;
    background-color: var(--color1);
    margin: auto;
    margin-top: 1rem;
    position: relative;
    
}

.titulo{
    font-size: 3rem;
    text-align: center;
    font-family: 'Londrina Solid', cursive;
    color: var(--color2);
}

.nav{
    margin-top: -2.2rem;
    font-family: 'Nunito', sans-serif;
    transition: 0.4s;
    font-size: 1rem;
}
        
.nav li{
    display: inline;
    list-style: none;
    text-align: center;
    padding: 3rem;
    border-bottom: 0.2;
    transition: 0.4s;
    color: var(--color2);
}
    
.nav li:hover {
    transition: 0.4s;
    color:var(--color4); 
    border-bottom: 0.3rem solid var(--color2);
    padding-bottom: 0rem;
}

.nav2{
    margin-top: -1.2rem;
    margin-left: 40rem;
}

.imgs{
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 49rem;
    margin-top: -2.7rem;
}
.imgs img{
    width: 2.7rem;
    
}
    
    
    /*Empieza la info*/
   
.contenedor{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.contenedor img{
    width: 30rem;
}
    
.info{
    border-style: double;
    width: 30rem;
    height: 20rem;
    border: 0.1rem solid var(--color2);  
}
    
.info h1{
    font-family: 'Changa One', cursive;
    text-align: center;
    font-size: 2rem;
}
    
.info p{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1.3rem;
}
    
.paginas{
    background-color: var(--color4) ;
    width: 100%;
    height: 40rem;
}
    
.secciones{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    
}
.secciones img{
    width: 25rem;
}
    
.continuacion{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 2rem;
    color: var(--color1);
}
    
.btn{
    font-size: 1rem;
    color: var(--color2);
    background-color: var(--color1);
    width: 30rem;
    height: 6rem;
    border:0.2rem solid var(--color2);
    text-align: center;
    padding: 1.5rem;
    box-sizing: border-box;
    margin: auto;
    }
    